<!-- Button trigger modal -->
<button #openButton type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#userLogin">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="userLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div> 
                    <button type="button" class="btn btn-primary w-100" >Submit</button>

                    <!-- REGISTER LINK -->
                    <div class="text-center mt-2">
                        Don’t have an account?
                        <button type="button" class="bg-transparent p-0 border-0 text-primary" (click)="OpenRegModal()">
                            Register
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>