.nav {
    background-color: white;
    padding-block: 10px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav h1 {
    color: var(--primary-color);
    margin: 0;
    font-size: 25px;
}

h1 a {
    color: var(--primary-color);
    text-decoration: none;
}


.nav .nav-search {
    flex: 1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    background-color: #F0F5FF;
    border-radius: 10px;
    overflow: hidden;
}

.nav .nav-search input {
    flex: 1;
    height: 39px;
    border: none;
    background-color: transparent;
    padding: 0px 12px;
}

.nav .nav-search input:focus-visible {
    border: none;
    outline: none;
}

.nav ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav ul li {
    padding-left: 35px;
    padding-top: 15px;
}

.nav ul a {
    text-decoration: none;
    color: #3f3f3f;
    cursor: pointer;
}


.suggested-search {
    position: absolute;
    top: 40px;
    z-index: 10;
    display: list-item !important;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 300px;
}

.suggested-search li {
    padding: 5px;
    border: 1px solid #ddd;
}

.suggested-search li a {
    cursor: pointer;
    color: blueviolet;
}