<nav class="nav">
    <div class="container-fluid">
        <div class="content align-items-center">
            <h1><a routerLink="/seller">E-Comm</a> </h1>

            <div>
                <ul>
                    <!-- <li *ngIf="islogin "><a routerLink="">Home  </a></li> -->

                    <li *ngIf="islogin"><a routerLink="/seller/products">Products</a></li>

                    <li *ngIf="!islogin"> <button #openRegisterButton type="button" class="border-0 bg-transparent"
                            data-bs-toggle="modal" data-bs-target="#sellerLoginModal">
                            <i class="fa-regular fa-user"></i> Login
                        </button></li> 
                    <li *ngIf="islogin" (click)="logout()"><a>Logout</a></li>
                    <li><a routerLink="/" class="user-dash">User</a></li>


                </ul>
            </div>
        </div>
    </div>
</nav>