<div class="container-fluid mt-4">

    <!--  -->
    <div class="product-menu card p-3 overflow-hidden">
        <div class="product-menu-content d-flex align-items-center gap-5">
            <div class="product-menu-card"   (click)="onEnter('mobile')">
                <img src="../../../assets/images/user-dashboard/home/mobile-menu-imgpng.png" alt="">
                <div>
                    <h6>Mobile</h6>
                </div>
            </div>

            <div class="product-menu-card">
                <img src="../../../assets/images/user-dashboard/home/fashion.png" alt="">
                <div>
                    <h6>fashion</h6>
                </div>
            </div>

            <div class="product-menu-card">
                <img src="../../../assets/images/user-dashboard/home/electronic.png" alt="">
                <div>
                    <h6>Electronic</h6>
                </div>
            </div>

            <div class="product-menu-card">
                <img src="../../../assets/images/user-dashboard/home/tv-and-appliance.jpg" alt="">
                <div>
                    <h6> Applicance</h6>
                </div>
            </div>

            <div class="product-menu-card">
                <img src="../../../assets/images/user-dashboard/home/home-furniture.png" alt="">
                <div>
                    <h6>Furniture</h6>
                </div>
            </div>

            <div class="product-menu-card">
                <img src="../../../assets/images/user-dashboard/home/beauty.png" alt="">
                <div>
                    <h6>Beauty</h6>
                </div>
            </div>


            <div class="product-menu-card">
                <img src="../../../assets/images/user-dashboard/home/mobile-menu-imgpng.png" alt="">
                <div>
                    <h6>Mobile</h6>
                </div>
            </div>

            <div class="product-menu-card">
                <img src="../../../assets/images/user-dashboard/home/fashion.png" alt="">
                <div>
                    <h6>fashion</h6>
                </div>
            </div>
            <div class="product-menu-card">
                <img src="../../../assets/images/user-dashboard/home/electronic.png" alt="">
                <div>
                    <h6>Electronic</h6>
                </div>
            </div>




            <div class="product-menu-card">
                <img src="../../../assets/images/user-dashboard/home/tv-and-appliance.jpg" alt="">
                <div>
                    <h6> Applicance</h6>
                </div>
            </div>

            <div class="product-menu-card">
                <img src="../../../assets/images/user-dashboard/home/home-furniture.png" alt="">
                <div>
                    <h6>Furniture</h6>
                </div>
            </div>

            <div class="product-menu-card">
                <img src="../../../assets/images/user-dashboard/home/beauty.png" alt="">
                <div>
                    <h6>Beauty</h6>
                </div>
            </div>
        </div>
    </div>

    <!--  -->
    <div class="slider-container overflow-hidden mt-3">
        <div #sliderRef class="keen-slider">
            <div class="keen-slider__slide number-slide1"> </div>
            <div class="keen-slider__slide number-slide2"> </div>
            <div class="keen-slider__slide number-slide3"> </div>
        </div>
    </div>


    <!--  -->
    <div class="top-product card p-3 mt-3 overflow-hidden">

        <h5>Top Products</h5>
        <div class="top-product-content d-flex align-items-center gap-5 mt-4">
            <div class="top-product-card text-center">
                <img src="../../../assets/images/user-dashboard/home/top-beand-1.png" alt="">
                <div>
                    <h6>Projecter</h6>
                    <p>From $7688</p>
                </div>
            </div>

            <div class="top-product-card text-center">
                <img src="https://rukminim2.flixcart.com/image/240/240/kcf4lu80/speaker/mobile-tablet-speaker/h/u/f/srs-xb23-sony-original-imaftk66vjxp86h5.jpeg?q=60"
                    alt="">
                <div>
                    <h6>Deivce</h6>
                    <p>From $7688</p>
                </div>
            </div>

            <div class="top-product-card text-center">
                <img src="https://rukminim2.flixcart.com/image/240/240/xif0q/printer/w/n/d/deskjet-ink-advantage-2338-hp-original-imah8xvyyzthcgfv.jpeg?q=60"
                    alt="">
                <div>
                    <h6>Printer</h6>
                    <p>From $7688</p>
                </div>
            </div>

            <div class="top-product-card text-center">
                <img src="https://rukminim2.flixcart.com/image/240/240/xif0q/monitor/p/w/w/-original-imahg9bfku8q2neg.jpeg?q=60"
                    alt="">
                <div>
                    <h6>Monitor</h6>
                    <p>From $7688</p>
                </div>
            </div>

            <div class="top-product-card text-center">
                <img src="https://rukminim2.flixcart.com/image/240/240/xif0q/smartwatch/5/v/s/-original-imagxrhetgfuebnn.jpeg?q=60"
                    alt="">
                <div>
                    <h6>Smart watch</h6>
                    <p>From $7688</p>
                </div>
            </div>

            <div class="top-product-card text-center">
                <img src="https://rukminim2.flixcart.com/image/240/240/xif0q/monitor/c/3/u/-original-imah9hc6zk6wkjcz.jpeg?q=60"
                    alt="">
                <div>
                    <h6>Monitor</h6>
                    <p>From $7688</p>
                </div>
            </div>
        </div>
    </div>
</div>