<nav class="nav">
    <div class="container-fluid">
        <div class="content">
            <h1><a routerLink="">E-Comm</a> </h1>



            <!-- LG DIVICE -->
            <div class="nav-search position-relative d-none d-lg-block" #searchBox>
                <input type="text" placeholder="Search Products" placeholder="Search products..."
                    [(ngModel)]="searchText" (input)="onTyping()" (keyup.enter)="onEnter()" />

                <ul class="list-group position-absolute" *ngIf="suggestions.length">
                    <li class="list-group-item" *ngFor="let s of suggestions" (click)="selectSuggestion(s)">
                        {{ s }}
                    </li>
                </ul>
            </div>

            <div>
                <ul>
                    <li><a (click)="openlogin()"><i class="fa-regular fa-user"></i> Login </a></li>
                    <li>
                        <button class="border-0 bg-transparent"
                            [ngClass]="{'text-disabled': (cartCount$ | async) === 0}"
                            [disabled]="(cartCount$ | async) === 0" routerLink="/cart">
                            <span class="d-none d-lg-block">Cart</span> <i class="fa-solid fa-cart-shopping"></i>
                            <span *ngIf="cartCount$ | async as count">
                                ({{ count }})
                            </span>
                        </button>
                    </li>
                    <!-- <li><a routerLink="/products">Products</a></li> -->
                    <li><a routerLink="seller" class="became-seller"><i class="fa-solid fa-shop"></i><span class="d-none d-lg-block">Become Seller</span> </a>
                    </li>

                </ul>
            </div>
        </div>


        <!-- SM DEVICE -->
        <div class="nav-search position-relative d-block d-lg-none mt-3" #searchBox>
            <input type="text" placeholder="Search Products" placeholder="Search products..." [(ngModel)]="searchText"
                (input)="onTyping()" (keyup.enter)="onEnter()" />

            <ul class="list-group position-absolute" *ngIf="suggestions.length">
                <li class="list-group-item" *ngFor="let s of suggestions" (click)="selectSuggestion(s)">
                    {{ s }}
                </li>
            </ul>
        </div>
    </div>
</nav>