<!-- FOOTER -->

<footer class="footer text-light mt-5 pb-4">
    <div class="container">
        <div class="row">
            <!-- Left CTA -->
            <div class="col-md-4 mb-4">
                <h1><a routerlink="" href="/">E-Comm</a></h1>
                <p class="mt-4">Smart Solutions for a Smarter Business.</p>


                <div class="social-icons d-flex gap-3 mt-4">
                    <a href="#" target="_blank" class="icon instagram"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" target="_blank" class="icon twitter"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#" target="_blank" class="icon linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>

            </div>

            <!-- Learn Section -->
            <div class="col-md-2 mb-4">
                <h6 class="fw-bold">Links</h6>
                <ul class="list-unstyled">
                    <li><a href="/" class=" ">Home</a></li>
                    <li><a href="/blogs.html" class=" ">Services</a></li>
                    <li><a href="/aboutus.html" class=" ">About Us</a></li>
                    <li><a href="/contactus.html" class=" ">Contact Us</a></li>
                </ul>
            </div>

            <!-- Explore Section -->
            <div class="col-md-2 mb-4">
                <h6 class="fw-bold">Skills</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class=" ">HTML, CSS</a></li>

                    <li><a href="#" class=" ">Angular</a></li>
                    <li>
                        <a href="#" class=" ">Java</a>
                    </li>
                    <li><a href="#" class=" ">Spring Boot</a></li>
                </ul>
            </div>

            <!-- Contact Section -->
            <div class="col-md-4">
                <h6 class="fw-bold">Get in touch</h6>
                <p class="d-flex gap-3 contact-info"><i class="fa-solid fa-phone"></i> +91 7899001086</p>
                <p class="d-flex gap-3 contact-info"><i class="fa-solid fa-envelope"></i>omkarofc06@gmail.com
                </p>
                <p class="d-flex gap-3 contact-info"><i class="fa-solid fa-location-dot"></i> Pune
                </p>
            </div>


            <hr class="mt-4">


            <div class="d-flex justify-content-center Copyright mt-2">
                <h6 class="">Copyright E-COMM 2025- All Right Reserved</h6>
            </div>
        </div>
    </div>

</footer>